# Lakes dataclass.
project: "{{ project_id_src }}"
lakes:
  - display_name: "sap"
    ## CORTEX-CUSTOMER: Update with specific region, even if deployment is multiregion.
    region: ""
    description: "Cortex SAP datasets"
    labels:
      - name: "sql_flavor"
        value: "s4"
    zones:
      - display_name: "raw-sap"
        description: "Cortex SAP Raw dataset"
        zone_type: RAW
        location_type: MULTI_REGION
        assets:
          - display_name: "raw-bq-dataset"
            asset_name: "{{ dataset_raw_landing }}"
      - display_name: "cdc-sap"
        description: "Cortex SAP CDC dataset"
        zone_type: CURATED
        location_type: MULTI_REGION
        assets:
          - display_name: "cdc-bq-dataset"
            asset_name: "{{ dataset_cdc_processed }}"