[submodule "src/SAP_CDC"]
	path = src/SAP_CDC
	url = ../cortex-dag-generator
[submodule "src/views/SAP_ML_MODELS"]
	path = src/views/SAP_ML_MODELS
	url = ../cortex-ml-models
[submodule "src/views/SAP_REPORTING"]
	path = src/views/SAP_REPORTING
	url = ../cortex-reporting
