## Configuration file for all deployers (SAP CDC, SAP REPORTING, SFDC)
## The command-line parameters override these options
## SQL_FLAVOUR=union requires both ECC and S4 datasets to be configured
## See the README for more details
###############################################
## Shared parameters
###############################################
TEST_DATA={{ TEST_DATA }}
DEPLOY_SAP={{ DEPLOY_SAP }}
DEPLOY_SFDC={{ DEPLOY_SFDC }}
TURBO={{ TURBO }}
### Project and Dataset structure
PJID_SRC={{ PJID_SRC }}
PJID_TGT={{ PJID_TGT }}
LOCATION={{ LOCATION }}
# The following will replace the template in a WHERE clause
LANGUAGE={{ LANGUAGE }}
CURRENCY={{ CURRENCY }}

###############################################
## SAP specific
###############################################
DS_CDC={{ DS_CDC }}
DS_RAW={{ DS_RAW }}
DS_CDC_ECC={{ DS_CDC_ECC }}
DS_CDC_S4={{ DS_CDC_S4 }}
DS_RAW_ECC={{ DS_RAW_ECC }}
DS_RAW_S4={{ DS_RAW_S4 }}
DS_REPORTING={{ DS_REPORTING }}
DS_MODELS={{ DS_MODELS }}
SQL_FLAVOUR={{ SQL_FLAVOUR }}
### Default substitutions for templatized values in views
MANDT={{ MANDT }}
MANDT_ECC={{ MANDT_ECC }}
MANDT_S4={{ MANDT_S4 }}

###############################################
## SFDC specific
###############################################
DS_CDC_SFDC={{ DS_CDC_SFDC }}
DS_RAW_SFDC={{ DS_RAW_SFDC }}
DS_REPORTING_SFDC={{ DS_REPORTING_SFDC }}
SFDC_CREATE_MAPPING_VIEWS={{ SFDC_CREATE_MAPPING_VIEWS }}
