{
    "testData" : {{ TEST_DATA }},
    "generateExtraData" : {{ GEN_EXT }},
    "deployCDC" : {{ DEPLOY_CDC }},
    "deploySAP" : {{ DEPLOY_SAP }},
    "deploySFDC" : {{ DEPLOY_SFDC }},
    "turboMode" : {{ TURBO }},
    "projectIdSource" : {{ PJID_SRC }},
    "projectIdTarget" : {{ PJID_TGT }},
    "location" : {{ LOCATION }},
    "languages" : {{ LANGUAGE }},
    "currencies" : {{ CURRENCY }},
    "SFDC" : {
        "createMappingViews": {{ SFDC_CREATE_MAPPING_VIEWS }},
        "datasets" : {
            "cdc" : {{ DS_CDC_SFDC }},
            "raw" : {{ DS_RAW_SFDC }},
            "reporting" : {{ DS_REPORTING_SFDC }}
        }
    }

}
