requests==2.31.*
gspread==5.7.*
gspread-formatting==1.1.*
google-api-python-client==2.80.*
sentence-transformers==2.2.*
--index-url https://download.pytorch.org/whl/cpu
torch==1.13.*
numpy==1.24.*  # some customers still using 1.*
--index-url https://pypi.org/simple
six==1.16.*